.trxDetailsHeader {
  margin-left: 10px;
  margin-top: 10px;
}

.trxDetails {
  height: 280px;
  width: 460px;
  margin-left: 50px;
  margin-top: 20px;
  border: 1px solid black;
  overflow-y: auto;
  background-color: lightblue;
}

.receiptDetails {
  margin-left: 10px;
  margin-bottom: 4px;
}
